* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.transition {
    transition: all 1s;
}

@media (max-width:960px) {
    .container {
        width: 100%;
        padding: 0 4%;
    }
}

.nav {
    background: #A0BED0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 85px;
}

.nav__link {
    color: #FFFFFF;
    margin-right: 50px;
}

.nav__link:hover {
    color: rgba(255, 255, 255, .75);
}

.nav__mobile {
    display: none;
    width: 32px;
}

@media (max-width: 420px) {
    .nav__link {
        display: none;
    }

    .nav__mobile {
        display: block;
    }
}

.banner {
    background: url(../images/foto-banner.jpg);
    background-size: cover;
    height: 525px;
    margin-top: 85px;
    text-align: center;
}

@media (max-width: 420px) {
    .banner {
        height: 400px;
        background-position: -360px 0;
    }
}

.banner__title {
    font-size: 105px;
    color: rgba(255, 255, 255, .9);
    text-transform: uppercase;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 80px;
    letter-spacing: 8px;
}

@media (max-width: 1024px) {
    .banner__title {
      font-size: 80px;
    }
  }
  
  @media (max-width: 850px) {
    .banner__title {
      font-size: 60px;
    }
  }  

.banner__subtitle {
    color: rgba(255, 255, 255, .7);
    font-size: 25px;
    font-weight: 400;
}

@media (max-width: 850px) {
    .banner__subtitle {
      font-size: 18px;
    }
  }

.btn {
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 14px;
}

.banner__btn {
    background-color: #829DAD;
    display: inline-block;
    margin-top: 50px;
}

.banner__btn:hover {
    background-color: #36B0E0;
}

/** SOBRE **/

.about {
    background-color: #161616;
}

.about__text {
    width: 75%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    padding: 50px 0;
}

/** SIBÉRIA **/

.places__top {
    display: flex;
    padding: 50px 0;
    align-items: center;
    color: #161616;
}

.places__top_image {
    width: 60%;
}

.places__top_image_60 {
    width: 100%;
}

.places__top_text {
    width: 40%;
    padding-left: 40px;
    border-left: 10px solid #829DAD;
}

/** GROENLANDIA E ANTARTIDA **/

.places__all {
    display: flex;
    align-items: center;
    background-color: #161616;
}

.places__all_image {
    width: 50%;
}

.places__all_image_50 {
    width: 100%;
}

.places__all_text {
    width: 50%;
    color: #FFF;
}

.places__all_antartida {
    flex-direction: row-reverse;
}

.text {
    width: 85%;
    margin: 0 auto;
}

.text>p {
    color: rgba(255, 255, 255, .5);
}

.text_antartida {
    text-align: right;
}